.histogram {
    max-width: 354px;
    max-height: 185px;
    background: var(--white);
    border: 1px solid var(--histogramBorder);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px 24px 24px;
    }
.histogram__topsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.histogram__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
    margin: 0px;
}
.histogram__button {
    /*width: 59px;
    height: 24px;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
   /* text-align: right;*/
    color: var(--histogramBar);
}
.histogram__amount {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--histogrammAmount);
    margin: 0px;
    margin-bottom: 39px;
}
.histogram__chart {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50px;
    gap: 1px;
}
.histogram__bar {
    flex-basis: 9px;
    flex-grow: 1;
   
    /*height: 40px;*/
    background: var(--histogramBar);
    /*margin-right:1px;*/
}