.footer {
    height: 200px;
    background-color: #ffff;
}
.footer__title {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 48px;
color: #212429;
margin: 0;
text-align: center;
padding-top: 71px;
padding-bottom: 32px;
}
.footer__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212429;
    width: 640px;
    height: 96px;
    margin: 0;
    text-align: center;
    margin: 0 auto;
}