.preview {
    background-color: var(--previewBackground);
    padding: 67px 165px 204px;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    gap: 30px;
   }

.preview__card {
    background-color: var(--cardBackground);
    width: calc((100% - 60px)/3);
    height: 367px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

}